body { 
    background-color:#f7c6d7;
}
link {
    color:#3e41f0;
}
h1 {
    color: #000000;
}
nav {
    background-color: #f05656;
    padding: 80px;
    margin-bottom: 30px;
}
nav a {
    color:#f0f2bf;
}
nav a:hover {
    background-color: #f2bfbf;
}